header {
  /* height: 136vh; */
  /* padding-top: 7rem; */
}

.background_words {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
  background: transparent;
  position: absolute;
  top: 2%;
  width: 100%;
  padding-right: 10px;
}

.background_words > img {
  width: fit-content;
  height: 3rem;
  opacity: 70%;
}

.background_words > img {
  width: fit-content;
  height: 3rem;
  opacity: 70%;
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

.background_words > img {
  background-color: white;
  border: 1px solid #b86df5;
  border-radius: 50%;
}

.background_words > h1 {
  font-size: 3rem;
  color: #b86df5;
  font-weight: 700;
  opacity: 20%;
}

.wiggle:hover {
  animation: wiggle 2s infinite;
}

.header_container {
  text-align: center;
  /* position: relative; */
  /* height: 101vh; */
}

.header_info {
  position: absolute;
  top: 33%;
  right: 38%;
}

.threeD_portfolio {
  color: #000000;
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 1rem;
  padding-top: 1rem;
}

/* ===================== CTA ================== */

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ===================== Header Socials ================== */

.header_socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  color: aliceblue;
  bottom: 3rem;
}

.header_socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary-linear);
}
.header_socials::before {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary-linear);
}

/* ===================== Photo ================== */

.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}

/* ===================== Scroll Down ================== */

.scroll_down {
  color: var(--color-primary);
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  font-weight: 300;
  font-size: 1.3rem;
}

/* Scroll_Down_Button */

.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid #b86df5;
  position: absolute;
  left: 230%;
  top: 190%;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid #b86df5;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
}

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

/* ==================== Media Queries (Medium Devices) ======================= */

@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }

  .background_words > img {
    height: 2rem;
  }

  .header_info {
    position: absolute;
    top: 33%;
    right: 23%;
  }
  .overlay {
    height: 68%;
  }
  .header_socials {
    top: 400px;
  }
  .scroll-down {
    display: block;
  }
}

/* ==================== Media Queries (Small Devices) ======================= */

@media screen and (max-width: 600px) {
  header {
    height: 70vh;
  }

  .background_words > img {
    height: 1.5rem;
  }

  .header_info {
    position: absolute;
    top: 33%;
    right: 7.5%;
  }

  .header_socials {
    display: flex;
    flex-direction: row;
    top: -560px;
  }

  .scroll_down {
    display: none;
  }
  .overlay {
    height: 70%;
  }
  .scroll-down {
    top: 180%;
    left: 45%;
  }
}
